<main class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <!--Adding form-->
            <br>
            <br>
            <div class="jumbotron">
                <h1 class="display-4">Add a survey</h1>
            </div>
            <br>
            <form #form="ngForm" (ngSubmit)='save(form)' method="POST" novalidate autocomplete="off">
                <div class="form-group">
                    <label for="title">Title: </label>
                    <input type="text" class="form-control" 
                    id="title" 
                    placeholder="Enter the Title"
                    name="title"
                    required [(ngModel)]='survey.title'>
                </div>
                <div class="form-group">
                    <label for="description">Description: </label>
                    <input type="text" class="form-control" 
                    id="description" 
                    placeholder="Enter the Description"
                    name="description"
                    required [(ngModel)]='survey.description'>
                </div>
                <div class="form-group">
                    <label for="date">Date: </label>
                    <input type="date" class="form-control" 
                    id="date" 
                    placeholder="Enter the date"
                    name="date"
                    required [(ngModel)]='survey.date'>
                </div>
                <br>
                <!--Adding buttons to perform submit, cancel and delete actions-->
                <button class="btn btn-success" type='submit'> Submit</button>&nbsp;&nbsp;
                <a href="/api/survey/surveyList" class="btn btn-warning"><i class="fa fa-times" aria-hidden="true"></i> Cancel</a>&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="/api/surveyQuestions/add" class="btn btn-success"> Create questions</a>                 
            </form>
        </div>
    </div>
</main>
